  	<div style="color:red">
  	<h5>zagadka</h5>
  	<input ng-model="riddleText"></input>
  	<h5>kategoria</h5>
  	<input ng-model="riddleCategory"></input>
  	<h5>tip</h5>
  	<input ng-model="riddleTip"></input> 
    <h5>explenation</h5>
    <input ng-model="riddleExpl"></input> 
  	<button style="color:red" ng-click="postData(riddleText,riddleCategory,riddleTip,riddleExpl)">dodaj</button> 
</div>