  <modal visible="showModal">
    <h5>Pierwsze słowo: </h5>
    <h4><b>{{riddless[0]}}:</b> {{expln[0]}}</h4>
    <h5>Drugie słowo: </h5>
    <h4><b>{{riddless[1]}}:</b> {{expln[1]}}</h4>
  </modal>


  	<div class="row" align="center">
      <div class="col-md-12" style="color:white"><h3>{{players[0].name}} {{countOne}} : {{countTwo}} {{players[1].name}}</h3></div>
  		<div >
	  		<div class="col-md-6 " ng-repeat="player in players " style="display:inline-block;padding-bottom: 50px;">
          <div class="row">
          <div class="col-md-12">
            <div class="imageBorder" ng-class="{'imageRight':$index==1,'imageLeft':$index==0}" style="width:30%"><img ng-class="{'imageRight':$index==1,'imageLeft':$index==0}" src="{{players[$index].photo}}" style="height:55%;width:55%; "/></div>
            <div class="blue-border"   ng-class="{'red-border': $index==1,'panelLeft':$index==1,'panelRight':$index==0 }" style="width:70%;color:white">
              <div class="panel-heading" style="line-height: normal;text-overflow: ellipsis; height:40px;">
              <h4 class="panel-title pull-left"><b>{{player.name}}</b></h4> <h4 class="panel-title pull-right">Liczba szans: {{player.chances}}</h4>
              </div>
              <div align="left" class="bordere">
                <h4>Kategoria: {{categories[$index]}}</h4>
                <h5>Podpowiedź: {{tips[$index]}}</h5>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-12" align="right" ng-class="{'leftAlign' :$index==1 }" style="color:white" >
            <p  ng-repeat="line in player.hiddenRiddleText track by $index" style="display:inline-block;font-size:22px">
              {{line}} &nbsp;
            </p>
          </div>
	  		</div>
	  	</div>
    </div>
	  	
	</div class="row">
    <div style=" background-color: rgba(0, 0, 0, 0.5);">
      <div style="padding-bottom:20px;color:white;text-align:center;padding-top:10px" ><h4><b>Następny ruch: {{currentPlayer}}</b></h4></div>
      <div class="row">
      	<div class="col-md-12 " align="center" ng-repeat="(lineIndex, line) in letterTab" style="padding-bottom: 50px;color:white" style="width:50%;padding:5px 8px 8px 5px;">
      		<span ng-mouseover="onLetter=true" ng-mouseleave="onLetter=false" ng-class="{'letterActive' : onLetter}" ng-class ng-repeat="letter in line.letters" ng-click="letterClicked(lineIndex,$index)" style="width:100px;display:inline-block;text-align: center;cursor:pointer">
      			<div class="list" ng-hide="checkLetters(letter)" style="padding-bottom:5px">{{letter}}</div>
      		</span>
      	</div>
      </div>
    </div>
  </div>
</div>