  <modal visible="showModal">
    <h5>Pierwsze słowo: </h5>
    <h4><b>{{riddless[0]}}:</b> {{expln[0]}}</h4>
    <h5>Drugie słowo: </h5>
    <h4><b>{{riddless[1]}}:</b> {{expln[1]}}</h4>
  </modal>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id="game-info">
      <h3>
        <span ng-class="{'currentPlayer':currentPlayer==players[0].name}">{{players[0].name}}</span>
        {{countOne}} : {{countTwo}} 
        <span ng-class="{'currentPlayer':currentPlayer==players[1].name}">{{players[1].name}}</span>
      </h3>
    </div>

    <div class="col-md-12" id="user-info">
      <div >
        <div class="col-md-6 player" ng-repeat="player in players ">
        <div class="hidePlan" ng-if="currentPlayer!=player.name"></div>
          <div>
            <div>
              <img ng-class="{'imageRight':$index==1,'imageLeft':$index==0}" src="{{players[$index].photo}}" />
            </div>
            <div>
              <div>
              <h4>Liczba szans: {{player.chances}}</h4>
              </div>
              <div>
                <h4>Kategoria: {{categories[$index]}}</h4>
                <h5>Podpowiedź: {{tips[$index]}}</h5>
                <p ng-repeat="line in player.hiddenRiddleText track by $index" style="display:inline-block;font-size:22px">&nbsp;{{line}} &nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
	  	
<div class="container-fluid" id="keyboard">
	<div class="row">
    <div>
      <div class="col-md-12 " align="center" ng-repeat="(lineIndex, line) in letterTab" style="padding-bottom: 50px;color:white" style="width:50%;padding:5px 8px 8px 5px;">
        <span ng-mouseover="onLetter=true" ng-mouseleave="onLetter=false" ng-class="{'letterActive' : onLetter}" ng-class ng-repeat="letter in line.letters" ng-click="letterClicked(lineIndex,$index)" style="width:100px;display:inline-block;text-align: center;cursor:pointer">
          <div class="letter" ng-hide="checkLetters(letter)" >{{letter}}</div>
        </span>
      </div>
    </div>
  </div>
</div>