<header>
  <h1>Hang<span>[me]</span>out<span class="title-desc">dziwne słowa edition</span></h1>
  <form class="form-group" ng-submit="start(playerOne,playerTwo)">
    <input type = "text" ng-model="playerOne" placeholder="Imię pierwszego gracza" pattern=".{3,}" required title="minimum trzy znaki" />
    <input type = "text" ng-model="playerTwo" placeholder="Imię drugiego gracza" pattern=".{3,}" required title="minimum trzy znaki" />
    <input value="Graj" type="submit"/>
  </form>
</header>
