  <div class ="row" style="">

  <div class ="col-md-12 topHeader" align="center" style="">
    <div style="width:50%">
    <div class="page-header">
      <h1>Hang(Me)OUT <small style="color:white">Learning version</small></h1>
    </div>
    <form class="form-group" style="padding-top:10px;text-align:center">
      <input type="inp" class="playerInput" ng-model="playerOne" placeholder="Imie pierwszego gracza" ></input>
      <input type="inp" class="playerInput" ng-model="playerTwo" placeholder="Imie drugiego gracza" ></input>
    </form>
    <button ng-disabled="!playerOne || !playerTwo "  class="playbutton" ng-click="start(playerOne,playerTwo)" style="width:70%"><b>Graj</b></button>
    
    
    </div>
  </div>
  <div class ="col-md-12" align ="center" style="height:100%;color:white;">
    <div class="info" ng-mouseenter="showRules=true" ng-mouseleave="showRules=false" style="" >
      <span ng-if="!showRules">Pokaż informacje</span>
      <span ng-if="showRules">Jak grać?</span>
      <div class="list" ng-show="showRules" style="padding-bottom:20px">
        <h4>Zasady: </h4>
        <p>Prosta, popularna gra w wisielca - z nutką rywalizacji i nauczania. Odgadnij słowo przed Twoim przeciwnikiem! Pomogą Ci w tym kategoria słowa i podpowiedź. Sami ustalacie do ilu gracie! Licznik jest na górze strony</p>
        <h4>Cel: </h4>
        <p>Słowa nie są byle jakie. Odgadując słowo, przy okazji możesz dowiedzieć się, co ono oznacza. Powodzenia!</p>
        </div>
      </div>
  </div>
  

  </div>