body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.jpg");
   background-repeat: no-repeat;
  background-size:cover;
}

a {
  color: #00B7FF;
}

.playerInput{
  color:white ;background-color:transparent;border:none;border-bottom:solid;border-width: 2px;
}

.topHeader{
height:100%;color:white;padding-top:50px;padding-bottom:120px
}
.bordere{
  padding-left:30px;
    border:solid;
  border-width:2px;
  border-color:white;
}

.letterActive{
    border-left:solid;
    border-right:solid;
  border-width:2px;
  border-color:white;

}
.red-border{
	border-color:red;
}

.play{
  width:70%;background-color:transparent;color:white
}

.info{
  width:50%;padding:5px 8px 8px 5px;background-color: rgba(0, 0, 0, 0.2);
}

.blue-border{
  border-color:blue;
}
.leftAlign{
  text-align:left;
}

.green-border .panel-heading{
	background-color: green;
}

.imageRight {
	float:right;
}
.panelLeft {
	float:left;
}

.imageLeft {
	float:left;
}
.panelRight {
	float:right;
}

.imageBorder {
	border:solid;
	border:1px;
	border-color:black;
}

.list {
    height: auto;
    opacity: 1;
    overflow: hidden;
}

.list.ng-hide-add,
.list.ng-hide-remove {
    max-height: 300px;
    transition-property: max-height, opacity;
    transition-duration: 500ms;
}

.list.ng-hide {
    max-height: 0;
    opacity: 0;
}


/* ng-if */

.list.ng-enter,
.list.ng-leave {
    transition-property: max-height, opacity;
    transition-duration: 500ms;
}

.list.ng-enter,
.list.ng-leave.ng-leave-active {
    max-height: 0;
	opacity: 0;
}

.list.ng-leave,
.list.ng-enter.ng-enter-active {
    max-height: 300px;
	opacity: 1;
}

#error span {
  animation: upper 9s linear infinite;
}
#code span:nth-of-type(2) {
  animation: lower 8s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: ;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}